*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f3f3f3;
}
.JSNote{
    text-transform: uppercase;
}
.JSNote h1{
    color: #8cc641;
    text-align: center;
    padding-top: 2em;
    font-size: 2em;
}
.JSNote p{
    color: #8cc641;
    text-align: center;
}
.JSNote p strong{
    font-size: larger;
}

.main-banner{
    margin: 0 auto;
    width: 75em;
    height: 30em;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.main-banner .imgban{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 700ms;
    -webkit-transition:  all ease-in-out 700ms;
    -moz-transition: all ease-in-out 700ms;
    -o-transition: all ease-in-out 700ms;
}
.main-banner #imgban6{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban5{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-banner #imgban1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn{
    width:4em;
    height: 3em;
    position: absolute;
    top: 26.5em;
    z-index: 2000;
    opacity: 0.7;
    cursor: pointer;
}
.imgbanbtn:hover{
    opacity: 1;
}
.imgbanbtn-prev{
    left: 1em;
    background-image: url(prev.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.imgbanbtn-next{
    right: 1em;
    background-image: url(next.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner .imgban-box {
    position: relative;
    width: 100%;
    height: 87%;
}
.main-banner .imgban-box button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
